* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}


#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}

#app div {
  margin: 1em 0;
}


#app div p {
  margin-top: 3em;
}


#app:nth-of-type(1){
  background: #e31d65;
}


#app:nth-of-type(2){
  background: #25a954;
}


#app:nth-of-type(3){
  background: #ff7c35;
}

.btn {
  padding: 10px 35px;
  border: 2px solid #fff;
  margin-top: 1em;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}